/* browswers default*/

html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  font: 1em/1.25, Helvetica, sans-serif;
  width: 100%
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p, th, td,
li, dd, dt,
ul, ol, blockquote,
q, acronym, abbr, a,
input, select, textarea {
  margin: 0;
  padding: 0;
  list-style: none;
}

div {
  margin: 0px;
}

/*My own CSS*/


body {
  background-color: rgb(255, 255, 255);
  display: block;
  overflow-x: hidden;
  text-align: center;
  font-family: "Noto Sans", "Lato", Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px
}

h3 {
  font-size: 22px;
}


.project-img {
  width: 500px;
}


.top {
  background: rgb(240,240,240);
  height: 600px;
  position: relative;
}


.top > h2 {
    padding: 15px 0 10px 0;
  }


.about-me {
  z-index: 100;
  position: relative;
}


.about-me::before {
  position: absolute;
  content: "";
  display: block;
  width: 120%;
  height: 225px;
  transform-origin: left bottom;
  webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  background-color: rgb(255, 255, 255);
  z-index: -100;
}

.about-me-text{
  z-index: 150;
  margin-top: -100px;
  height: 70%;
  background-color: rgb(255, 255, 255);
  padding: 5%;
}

.about-me-text > h1 {
  font-size: 60px;
  margin-top: -110px;
}

.about-me-text > h3 {
  text-align: left;
  margin-top: 110px;
}

.about-me::after {
  position: absolute;
  content: "";
  display: block;
  width: 120%;
  height: 225px;
  transform-origin: right top;
  webkit-transform: rotate(5deg);
  -ms-transform: rotate(5deg);
  transform: rotate(5deg);
  background-color: rgb(255,255,255);
  z-index: -100;
}


.projects::before {
  display: absolute;
  content: "";
  display: block;
  webkit-transform: rotate(-5deg)translateX(-50%)translateY(-100%);
  -ms-transform: rotate(-5deg)translateX(-50%)translateY(-100%);
  transform: rotate(-5deg)translateX(-50%)translateY(-100%);
  background-color: rgb(255,255,255);
  width: 150%;
  height: 225px;
}



.projects {
  display: relative;
  text-align: center;
  background-color: rgb(240,240,240);
}

.projects > h1 {
  font-size: 60px;
}

.project-col {
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.odd {
  flex-wrap: wrap-reverse;
  background-color: rgb(240,240,240);
}



.even {
  flex-wrap: wrap;
  background-color: rgb(255,255,255);
}


.project-col > div {
  max-width: 500px;
  min-width: 250px
}





.logos {
  width: 75px;
  height: 75px;
}

.logo-h3 {
  padding: 3px 5px;
  width: 190px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.description > p {
  margin: 5px 0 10px 0;
}

.victor-logo {
  background-color: #4e93cf;
}

.propel-logo {
  background-color: Dodgerblue;
}

.pacis-logo {
  background-color: rgb(237,237,250);
}

.noclist-logo {
  background: white; /* For browsers that do notred support gradients */
  background: -webkit-linear-gradient(left, #63daf6 , #d26c6c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #63daf6, #d26c6c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #63daf6, #d26c6c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #63daf6 , #d26c6c); /* Standard syntax */
}



footer {
  display: inline-flex;
}

@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 17px;
  }

  .project-img  {
    width: 300px;
  }

  .description {
    margin: 20px auto;
  }


}






