/* browswers default*/
/*https://coolors.co/app/feffff-98dafc-daad86-312c32-e8edf3*/
html, body {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  font: 1em/1.25, Helvetica, sans-serif;
  width: 100%
  height: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p, th, td,
li, dd, dt,
ul, ol, blockquote,
q, acronym, abbr, a,
input, select, textarea {
  margin: 0;
  padding: 0;
  list-style: none;
}

div {
  margin: 0px;
}

/*My own CSS*/


body {
  background-color: #E8EDF3;
  display: block;
  overflow-x: hidden;
  text-align: center;
  color: #312C32;
  font-family: "Lato", "Noto Sans", Helvetica, Arial, sans-serif;
}



h1 {
  font-size: 60px;
  font-weight: bold;
}

h2 {
  font-size: 30px
}

h3, h4 {
  font-size: 22px;
  font-family: "Merriweather", "Lato", Helvetica, Arial, sans-serif;
}

h4 {
  font-size: 20px;
}

p, span, small {
  font-family: "Merriweather", "Lato", Helvetica, Arial, sans-serif;
}

small {
  display: block;
  margin: 20px;
}

ul {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

li {
  margin: 3px 10px;
  color: rgb(26, 153, 170);
  font-family: Arial, Helvetica, sans-serif;
}


.project-img {
  width: 500px;
}


.top {
  background: rgb(240,240,240);
  height: 800px;
  position: relative;
}


.top > h2 {
    padding: 15px 0 10px 0;
  }


.about-me {
  height: 600px;
  z-index: 100;
  position: relative;
}


/*.about-me::before {
  position: absolute;
  content: "";
  display: block;
  width: 120%;
  height: 225px;
  transform-origin: left bottom;
  webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  background-color: rgb(255, 255, 255);
  z-index: -100;
}*/

.about-me-text{
  z-index: 150;
  margin-top: -100px;
  height: 70%;
  background-color: #FEFFFF;
  padding: 5%;
}

.about-me-text > h1 {
  margin-top: 0px;
}

.about-me-text > h3 {
  text-align: left;
  margin-top: 110px;
}

/*.about-me::after {
  position: absolute;
  content: "";
  display: block;
  width: 120%;
  height: 100px;
  transform-origin: right top;
  webkit-transform: rotate(5deg)translateX(-20%)translateY(40%);
  -ms-transform: rotate(5deg)translateX(-20%)translateY(40%);
  transform: rotate(5deg)translateX(-20%)translateY(40%);
  background-color: rgb(255,255,255);
}*/


/*.projects::before {
  position: absolute;
  content: "";
  display: block;
  webkit-transform: rotate(5deg)translateX(-20%)translateY(-20%);
  -ms-transform: rotate(5deg)translateX(-20%)translateY(-20%);
  transform: rotate(5deg)translateX(-20%)translateY(-20%);
  background-color: rgb(255,255,255);
  width: 150%;
  height: 150px;
  z-index: 200;
}*/



.projects {
  display: relative;
  text-align: center;
  z-index: 200;
}

.projects > h1 {
  padding-top: 50px;
  z-index: 200;
  position: relative;
}


.project-col {
  padding: 100px 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}


.odd {
  position: relative;
  flex-wrap: wrap-reverse;
}


.even {
  background-color: #FEFFFF;
  flex-wrap: wrap;
  z-index: 200;
}


.project-col > div {
  max-width: 450px;
  min-width: 250px
}

.anchor-logo * {
  margin: 10px;
}




.logos {
  width: 75px;
  height: 75px;
}

.logo-h3 {
  margin-top: 30px;
  padding: 3px 5px;
  width: 190px;
  height: 60px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.description > p {
  margin: 20px 0 30px 0;
}

.victor-logo {
  background-color: #4e93cf;
}

.propel-logo {
  background-color: white;
}

.pacis-logo {
  background-color: white;
}

.noclist-logo {
  background: white; /* For browsers that do notred support gradients */
  background: -webkit-linear-gradient(left, #63daf6 , #d26c6c); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #63daf6, #d26c6c); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #63daf6, #d26c6c); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #63daf6 , #d26c6c); /* Standard syntax */
}

section.contact {
  position: relative;
  padding: auto;
  min-height: 700px;
  background: rgb(240,240,240)
}


.contact > h1 {
  padding-top: 200px;
}

.contact > a > h3 {
  padding: 20px;

}

.contact > h4 {
  margin: 15px;
  padding: 10px;
}




footer {
  display: inline-flex;
}


@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

  h1 {
    font-size: 30px;
  }

  h2 {
    font-size: 17px;
  }

  .project-img  {
    width: 300px;
  }

  .description {
    margin: 20px auto;
  }


}






